footer {
    background-color: var(--hero-footer-bkg-color);
}

.foot-page {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-parts {
    display: flex;
    align-items: baseline;
    padding: 0;
}

.first-footer-info {
    margin-right: 70px;
}

.footer-info {
    align-items: baseline;
}

.contact-footer {
    line-height: 1.7;
    color: var(--contacts-color);
}

.contact-f {
    margin-bottom: 9px;
}

.foot-navigation {
    display: inline-block;
}

.foot-navigation-map {
    line-height: 1.7;
    color: var(--some-text-color);
}

address {
    font-style: normal;
}

.join-us {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--some-text-color);

    margin-bottom: 20px;
}
.subscribe-form {
    display: flex;
    align-items: center;
    padding: 0;
}

.email-input {
    display: block;
    background-color: transparent;
    width: 358px;
    height: 50px;
    border: 1px solid var(--borderform);
    border-radius: 4px;
    padding-left: 16px;
}

.footer-form-input {
    margin-right: 12px;
}

.email-input::placeholder {
    color: var(--contacts-color);
}
